<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#!">Nxt Trendz</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/cart" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg"
                        width="26" height="26" fill="currentColor" class="bi bi-cart3 bg-light shadow"
                        viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg><span class=" m-1 p-1 badge badge-primary badge-pill">{{cartLen}}</span></a>
            </li>
        </ul>
    </div>
</nav>